body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.section-1, .footer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}

.section-1, .section-2, .section-3, .footer {
    padding: 0 12.5vw;
}

.header {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.header p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #F9FAF8;
}

.s1-content {
    display: flex;
    justify-content: center;
    gap: 12.5vw;
    margin: 72px 0;
}

.s1-content h2 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.s1-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
    padding: 0;
}

.s1-text p {
    font-size: 18px;
    color: #E5e7eb;
    margin: 0;
    padding: 0 0 8px 0;
}

.s1-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    min-width: 300px;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    max-width: 100px;
    border: 0px;
    min-height: 30px;
    font-weight: 600;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0px 72px 0px;
}

.section-2 .examples {
    display: flex;
    justify-content: center;
    gap: 64px;
    width: 75vw;
}

div.example-img {
    border-radius: 8px;
    border: solid #3882f6 3px;
    /* box-sizing: border-box; */
    min-width: 100px;
    min-height: 100px;
}

.example {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example p {
    text-align: center;
    box-sizing: border-box;
    width:100px;
    margin: 4px 0px;
}

.section-3 {
    display: flex;
    background-color: #E5e7eb;
    justify-content: center;
}

.section-3 blockquote {
    display: flex;
    flex-direction: column;
    font-family: Calibri, 'Sans Serif';
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    box-sizing: border-box;
    max-width: 600px;
}

.section-3 blockquote p {
    font-weight: 200;
}

.section-3 blockquote footer {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
}

.section-4 {
    border-radius: 8px;
    background: #3882f6;
    margin: 36px 12.5vw;
    box-sizing: border-box;
    align-self: center;
    /* width: 600px; */
}

.section-4 .call-to-act {
    display: flex;
    justify-content: space-between;
    padding: 24px 72px;
    flex: 1 1 0;
    gap: 72px;
}

.call-to-act h4 {
    font-size: 12px;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.call-to-act p {
    font-size: 10px;
    color: #E5e7eb;
    margin: 0;
    padding: 0;
}

.call-to-act button {
    border: solid #F9FAF8 2px;
    padding: 0 12px;
    font-size: 12px;
}

.footer {
    display: flex;
    text-align: center;
}
